* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}
header {
    background-color: cornflowerblue;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid rebeccapurple;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header button {
margin-left: 16px;
}

form {
    background-color: aquamarine;
    padding: 24px 0;
    text-align: center;
    display: none;
}

input,button{
    padding: 8px;
}

#delete{
    background-color: red;
}

button{
    background-color: lime;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.list ul{
    margin: 10px;
    font-weight: bolder;
    height: 20px;
    list-style-type: none;
}

.list {
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    height: 300px;
}

.check {
    text-decoration: line-through;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    text-align: center;
    color: black;
    width: 100%;
}